@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12%;
    background-color: #00CCDD;
    opacity: 0.9;;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo-img{
    width: 70px;
}
.logo{
    font-size: 30px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease
}

.logo:hover{
    color: orangered;
    text-shadow:0 0 25px orangered,
                0 0 50px orangered;;
    transform: scale(1.1);
}

.span{
    color: orangered;
}

.navbar a{
    font-size: 23px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    cursor: pointer;
}

.navbar a:hover,
.navbar a.active{
    color: orangered;
    border-bottom: 3px solid orangered;
}

.login{
    padding: 10px 28px;
    background-color: #f6f5f4;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.login:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}

.Home{
    color: white;
    width: 100%;
    min-height: 100vh;
    background-color: #7CF5FF;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 9% 0% 5% 20%;
}

.Home-content{
    max-width: 700px;

}

.Home-content h3{
    font-size: 45px;
}

.Home-content h1{
    font-size: 55px;
    line-height: 1;
}

.Home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
    color: black;
    font-weight: bolder;
    text-align: justify;
}

.btn-box{
    width: 345px;
    display: flex;
    gap: 2rem;
}

.btn-1{
    padding: 15px 28px ;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.btn-2{
    padding: 15px 28px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-2:hover{
    background-color: white;
    color: orangered;
}

.img-box vid{
    border-radius: 50%;
    width: 100%;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: orangered;
}

::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.6);
    width: 50px;
}


.Courses{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00CCDD;
}

.Courses-content {
    text-align: center;
    padding-bottom: 25px;
    color: white;
    font-size: 42px;
    background-color: #00CCDD;
}

.Courses-content li i{
    height: 80px;
    margin: 10px;
}

.Courses-content ul li{
    font-size: 60px;
    align-items: center;
    background-color: wheat;
    color: white;
    border: 2px sold orangered;
    width: 80px;
    height: 80px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 28px 38px;
    box-shadow: inset 0 0 10px orangered,
                    0 0 10px orangered;
    transition: 0.3s ease;
}


.Courses-content ul li:hover{
    transform: scale(1.2)translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}

.About{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 8%;
    gap: 10em;
    background: #00CCDD;
}

.About-img img{
    position: relative;
    width: 300px;
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered ;
    border-radius: 50%;

}

.About-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}

.About-content h3{
    color: white;
    font-size: 62px;
}

.About-content p{
    color: white;
    font-size: 20px;
    margin: 2em;
}

.contact-form{
    margin: -50px 0px;
    color: white;
    background-color: #00CCDD;
}
.contact-form h2{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1em;
    font-size: 36px;
}

.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18p;
    color: black;
    background-color: white;
    border-radius: .8rem ;
    margin: 1rem 0;
    resize: none;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #6439FF;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a{
    background-color: pink;
    font-size: 24px;
    color: white;
    border: 2px sold orangered;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px orangered,
                    0 0 10px orangered;
                    transition: 0.3s ease;
}

.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    padding:10px;
}

.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}

.footer ul li{
    display: inline-block;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: orangered;
}



.project{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 8%;
    gap: 10em;
    background: black;
}

.project-content h2{
    text-align: center;
    color: white;
    font-size: 50px;
}

.project-content video{
    margin: 3% 4px;
    position: absolute;
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered ;
}

.project-content h3{
    text-align: center;
    text-decoration: underline orangered;
    margin:25px 10px;
    color: white;
    font-size: 30px;
}

.project-content p{
    padding-left: 40%;
    text-align: left;
    color: white;
    font-size: 18px;
    margin: 2em;
}

.resume{
    margin: -1px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20% 10%;
    gap: 10em;
    background: black;
}


.resume-content h2,
.ln h2{
    padding-bottom: 15px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.ln .resume-link{
    margin-left: 28%;
}

.resume-link {
    align-items: center;
    padding: 10px 28px;
    margin-left: 25px;
    background-color: #f6f5f4;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.resume-link:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}



.experience{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 3%;
    gap: 10em;
    background: black;
    animation-name: fadeInOut, moveLeft300px, bounce;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.experience .company-list{
    font-size: 25px;
    align-items: center;
    color: white;
    display: inline-block;
    text-align: left;
    transition: 0.3s ease;
}

.company-list h2{

    text-align: center;
    padding-bottom: 25px;
    color: white;
    font-size: 42px;
}
.company-list h2:hover{
    color: orangered;
    box-shadow: 0 0 25px orangered;
}

.company-list ul li{
    list-style: circle;
    line-height: 40px;
}
.company-list ul li:hover{
    font-size: 30px;
    transform: scale(1.2)translateY(-10px);
    color: orangered;
    background-color: black;
    border: 2px solid orangered;
}